@model webticaret.Models.kullanicikayit
@{
    ViewBag.Title = "girisyap";
}

<h2>@ViewBag.girismesaj</h2>

<div class="row">
    <div class="col">

    </div>
    <div class="col-6">
        <h1 class="text-center">Giriş Yap</h1>
        @using (Html.BeginForm("girisyap", "genel", FormMethod.Post))
        {
            <div class="mb-5">
                <label for="exampleInputEmail1" class="form-label">Email Adresi</label>
                <input type="email" class="form-control" name="epost" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Emailinizi kimseyle paylaşmıyoruz.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Şifre</label>
                <input type="password" name="sifre" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox"  name="unutma" value="evet" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Beni unutma</label>
            </div>
            <button type="submit" class="btn btn-primary">Giriş Yap</button>
        }
    </div>
    <div class="col">

    </div>
</div>


