<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Hay Allah!.</h1>
        <h2>Bir şey de hata var ama bilemedim şimdi :/</h2>
    </hgroup>
</body>
</html>
